// Bulma Import
@import "~bulma";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

:root {
    --background-light: #fdf8f2;

    --text-color-light: hsl(0deg 0% 29%);

    --font-family-title: 'Amatic SC', cursive;
    --font-size-title: 25px;
}

body {
    background-color: var(--background-light);
}

a {
    color: var(--text-color-light);
}

// Common class
.d-fixed-top {
    display: fixed;
    top: 0;
}

.custom-underline {
    ::after {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: hotpink;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    ::after {
        opacity: 1;
        transform: scale(0);
        transform-origin: center;
        z-index: 9;
    }

    :hover::after,
    :focus::after {
        transform: scale(1);
    }

    &.active::after {
        transform: scale(1);
    }
}