.full-layout-container {

    .header-img {
        height: 150px;

        img {
            height: 100%;
        }
    }

    .sticky-header {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
    }
}