.portfolio-container {
    max-width: var(--max-width);
    margin: 0 auto;

    .tabs {
        font-size: inherit;

        li.is-active a {
            border-bottom-color: hotpink;
            color: hotpink;
        }
    }
}