.navigation-bar-container {
    .navbar {
        max-width: 90%;
        margin: 0 auto;
        display: flex !important;
        align-items: stretch;
        flex-shrink: 0;
        min-height: 3.25rem;
        background-color: transparent;

        .navbar-right {
            margin-left: auto !important;
        }

        .navbar-logo {
            display: flex;
            height: 100%;
            position: absolute;
            left: 50%;
            transition: all .2s cubic-bezier(.175, .885, .32, 1.275);

            a {
                color: darkgreen !important;
            }
        }

        .navbar-item {
            align-items: center;
            display: flex;
            font-family: var(--font-family-title);
            font-size: var(--font-size-title);
            line-height: 1.4em;

            a {
                p::after {
                    content: '';
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    width: 100%;
                    height: 0.1em;
                    background-color: hotpink;
                    opacity: 0;
                    transition: opacity 300ms, transform 300ms;
                }

                p::after {
                    opacity: 1;
                    transform: scale(0);
                    transform-origin: center;
                }

                p:hover::after,
                p:focus::after {
                    transform: scale(1);
                }

                p.is-active::after {
                    transform: scale(1)
                }
            }
        }
    }
}