.image-box-container {
    cursor: pointer;
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;

    div {
        &:hover img {
            filter: grayscale(0);

            // @media (min-width: 600px) {
            //     transform: scale(1.3);
            //     z-index: 2;
            // }
        }

        &:hover {
            border-color: hotpink;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

            // @media (min-width: 600px) {
            //     transform: scale(1.2);
            //     z-index: 2;
            // }
        }

        img {
            width: 100%;
            filter: grayscale(50%);
            border-radius: 15px;
            transition: all 0.25s ease-in-out;
        }

        p {
            margin: 5px 0;
            padding: 0;
            text-align: center;
            font-style: italic;
        }

        &.full-image {
            img {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }
}
