// Bulma Import
@import "~bulma";
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

:root {
    --background-light: #fdf8f2;

    --text-color-light: hsl(0deg 0% 29%);

    --font-family-title: 'Amatic SC', cursive;
    --font-size-title: 24px;
}

body {
    background-color: var(--background-light);
}

a {
    color: var(--text-color-light);
}