.footer-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 5em 0;
    display: block;
    align-items: center;
    justify-content: center;

    .footer__content {
        display: block;
        position: relative;
        z-index: 1;
        text-align: center;

        h3 {
            font-size: 40px !important;
            line-height: 120%;
            letter-spacing: -1.5px;
            color: #232320;
            font-weight: bold;

            @media (min-width: 992px) {
                font-size: 64px !important;
                letter-spacing: -2px;
            }
        }

        p {
            margin-top: 2em;
        }

        .u-d-block {
            @media (min-width: 768px) {
                display: block !important;
            }
        }
    }

    .footer__contact {
        text-align: center;
        margin-top: 3em;

        :not(:first-child) {
            margin-left: 15px;
        }
    }
}
